{% extends 'base.html.twig' %}

{% block metaTitle %}
    L'article n°{{ article.id }}
{% endblock metaTitle %}

{% block main %}
    <div class="container-fluid">
        <div class="row article">
            <h1>{{ article.title }}</h1>
            <h2>{{ article.content }}</h2>
        </div>
    </div>
{% endblock main %}

{% block footer %}
    <h3>Catégorie : {{ article.category.title }}</h3>
    <h3 style="color: {{ article.tag.color }}">Étiquette : {{ article.tag.title }}</h3>
{% endblock footer %}