{% extends 'base.html.twig' %}

{% block metaTitle %}
    L'article n°{{ article.id }}
{% endblock metaTitle %}

{% block main %}
    <div class="container-fluid">
        <div class="row article">
            <h1>{{ article.title }}</h1>
            <h2>{{ article.content }}</h2>
            <h3>Catégorie : {{ article.category.title }}</h3>
        </div>
    </div>
{% endblock main %}

{% block footer %}
    <p>
        Vous avez lu l'article n°{{ article.id }} du journal de la mort qui tue de la Piscine
    </p>
{% endblock footer %}