{% extends 'base.html.twig' %}

{% block metaTitle %}
    La catégorie n°{{ categorie.id }}
{% endblock metaTitle %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <h1>{{ categorie.title }}</h1>
            <h2>{{ categorie.description }}</h2>
            {% for article in categorie.articles %}
                <a href="{{ path('articleShow', {'id' : article.id}) }}"><h3>{{ article.title }}</h3></a>
            {% endfor %}
        </div>
    </div>
{% endblock main %}

{% block footer %}
    <p>
        Vous avez lu la catégorie n°{{ categorie.id }} du journal de la mort qui tue de la Piscine
    </p>
{% endblock footer %}
